run = "pip install -q -r requirements.txt && python main.py"
entrypoint = "main.py"

[deployment]
run = ["sh", "-c", "pip install -q -r requirements.txt && python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
